.container {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.imgContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.logo1 {
  height: 300px;
}

.logo2 {
  height: 270px;
}

@media only screen and (max-width: 1000px) { 
  .logo1 {
    height: 160px;
  }
  .logo2 {
    height: 100px;
  }
}