.container {
    width: 60vw;
    margin: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid red;
}

.form {
    width: 90%;
    min-height: 65vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.label {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 0;
    font-size: 1.2rem;
}

.label input {
    width: 70%;
    margin-right: 15px;
}

.button {
    width: fit-content;
    padding: 8px 16px;
    margin: 16px 0;
    border-radius: 10px;
    align-self: center;
    font-size: 1.5rem;
    background-color: rgb(82, 71, 71);
    color: #ffc400;
    border-top: 1px solid rgb(219, 151, 151);
    border-left: 1px solid rgb(219, 151, 151);
    border-bottom: 2px solid rgb(81, 25, 170);
    border-right: 2px solid rgb(81, 25, 170);
}